<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>anvil church</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'site/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'site/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <h2>
        <img class="mr-0 "style="width: 150px ;height: auto" src="{% static '/site/images/full_logo.png' %}">
      </h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class=" text-muted">
    <div class="container">
    <div class="card-columns">
      {% for client in clients%}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            {{client}}
             <span class="badge badge-success">{{client.number_of_members}}</span>
             <span class="badge badge-secondary">{{client.number_of_sms}}</span>
           </h5>
          <h6 class="card-subtitle mb-2">{{client.first_name}} {{client.last_name}} <span class="text-info">{{client.phone_number}}</span></h6>
          <h6 class="card-subtitle mb-2">church code<span class="text-info"> {{client.church_code}}</span></h6>

          <p class="card-text">{{client.city_or_town}},{{client.road_or_street}} {{client.location_description}}</p>
          <p class="card-text">{{client.website}}</p>
          {% if client.paid %}
          <a href="#" class="card-link text-success">paid</a>
          {% endif %}
          {% if not client.on_trial %}
          <a href="#" class="card-link text-danger">not paid</a>
          {% endif %}

          {% if client.on_trial %}
          <a href="#" class="card-link text-success">demo</a>
          {% endif %}
          {% if not client.on_trial %}
          <a href="#" class="card-link text-danger">real</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; anvilchurch 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'site/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'site/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'site/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'site/js/scrolling-nav.js' %}"></script>

</body>

</html>
